* {
}

:root {
  --viewport1440: 1440;
  --viewport768: 768;
  --viewport320: 320;
  --vwPercent: 100vw;
  --viewport-height: 100dvh;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  fotn-weight: 400;
  color: #333;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.common_content {
  height: 100dvh;
}

.vid-cont {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(var(--viewport-height) - 92px);
  & video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover;
    width: calc(1486 / var(--viewport1440) * var(vwPercent));
  }
}

.mission-fullpage {
  height: 760px;
}
.mission-section {
  max-width: calc(960 / var(--viewport1440) * var(--vwPercent));
  margin: 0 auto;
  padding: calc(22 / var(--viewport1440) * var(--vwPercent)) 0;
}
.mission-wrap {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
.mission-cont {
  width: calc(960 / var(--viewport1440) * var(--vwPercent));
  height: calc(505 / var(--viewport1440) * var(--vwPercent));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: calc(30 / var(--viewport1440) * var(--vwPercent));
}
.mission-title {
  font-size: calc(30 / var(--viewport1440) * var(--vwPercent));
  line-height: 1.4;
}
.mission-img {
  display: block;
  width: calc(88 / var(--viewport1440) * var(--vwPercent));
  height: calc(88 / var(--viewport1440) * var(--vwPercent));
  position: relative;
}
.icon-person {
  bottom: calc(180 / var(--viewport1440) * var(--vwPercent));
  left: calc(160 / var(--viewport1440) * var(--vwPercent));
}
.icon-house {
  bottom: calc(120 / var(--viewport1440) * var(--vwPercent));
  left: calc(580 / var(--viewport1440) * var(--vwPercent));
}
.icon-wallet {
  top: calc(100 / var(--viewport1440) * var(--vwPercent));
  right: calc(650 / var(--viewport1440) * var(--vwPercent));
}
.icon-bubble {
  top: calc(150 / var(--viewport1440) * var(--vwPercent));
  left: calc(20 / var(--viewport1440) * var(--vwPercent));
}

.left-ul {
  position: fixed;
  top: calc(170 / var(--viewport1440) * var(--vwPercent));
  left: calc(10 / var(--viewport1440) * var(--vwPercent));
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  & > li {
    list-style-type: none;
    margin-bottom: 100px;
    & > button {
      border: none;
      background: transparent;
    }
  }
  & span {
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 5.2083333333vw;
    font-size: 1.1111111111vw;
    font-weight: 700;
    color: #191919;
    border: 0.0694444444vw solid #a8a8a8;
  }
}

.content-wrap {
  width: 100%;
  text-align: center;
  align-items: center;
}
.content-cont {
  width: calc(960 / var(--viewport1440) * var(--vwPercent));
  height: calc(505 / var(--viewport1440) * var(--vwPercent));
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-title {
  display: block;
  margin-top: calc(2 / var(--viewport1440) * var(--vwPercent));
  font-size: calc(24 / var(--viewport1440) * var(--vwPercent));
  line-height: 1.4;
}
.content-card {
  width: calc(546 / var(--viewport1440) * var(--vwPercent));
  height: 500px;
  display: flex;
  justify-content: center;
}
.first-card {
  height: calc(260 / var(--viewport1440) * var(--vwPercent));
  background: #fac6ac;
  width: 100%;
  border-radius: 16px;
}
